html, body, div, nav, section, footer, p, h1, h2, h3, h4, h5, h6, span, img, a, ul, li, ol, dl, dd,
dt, table, th, tr, td, form, input, select, option, textarea, button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    vertical-align: top; }
sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 140.25em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 140.25em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"CDMCNJ+FZZQJW--GB1-0";
	src:url("c63ad5ac-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "CDMCNJ+FZZQJW--GB1-0";
	color: #BA0F25;
}
.stl_08 {
	line-height: 1.121094em;
}
.stl_09 {
	letter-spacing: -0.0068em;
}

.ie .stl_09 {
	letter-spacing: -0.162px;
}
@font-face {
	font-family:"WPKAIC+LindeDaxOffice-Bold";
	src:url("2f72927b-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.5em;
	font-family: "WPKAIC+LindeDaxOffice-Bold";
	color: #BA0F25;
}
.stl_11 {
	line-height: 1.217em;
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "CDMCNJ+FZZQJW--GB1-0";
	color: #BA0F25;
}
.stl_13 {
	letter-spacing: -0.0011em;
}

.ie .stl_13 {
	letter-spacing: -0.0145px;
}
.stl_14 {
	font-size: 0.833333em;
	font-family: "WPKAIC+LindeDaxOffice-Bold";
	color: #BA0F25;
}
.stl_15 {
	letter-spacing: 0em;
}

.ie .stl_15 {
	letter-spacing: 0px;
}
.stl_16 {
	letter-spacing: -0.03em;
}

.ie .stl_16 {
	letter-spacing: -0.4px;
}
@font-face {
	font-family:"ENPROS+FZXQJW--GB1-0";
	src:url("a54384d4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.75em;
	font-family: "ENPROS+FZXQJW--GB1-0";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.15625em;
}
.stl_19 {
	letter-spacing: 0.018em;
}

.ie .stl_19 {
	letter-spacing: 0.216px;
}
@font-face {
	font-family:"TJQTRV+LindeDaxOffice";
	src:url("70c773aa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.75em;
	font-family: "TJQTRV+LindeDaxOffice";
	color: #221E1F;
}
.stl_21 {
	line-height: 1.21em;
}
.stl_22 {
	letter-spacing: -0.017em;
}

.ie .stl_22 {
	letter-spacing: -0.204px;
}
.stl_23 {
	letter-spacing: -0.025em;
}

.ie .stl_23 {
	letter-spacing: -0.3px;
}
.stl_24 {
	letter-spacing: 0.022em;
}

.ie .stl_24 {
	letter-spacing: 0.264px;
}
.stl_25 {
	letter-spacing: 0.038em;
}

.ie .stl_25 {
	letter-spacing: 0.456px;
}
.stl_26 {
	letter-spacing: 0.025em;
}

.ie .stl_26 {
	letter-spacing: 0.3px;
}
.stl_27 {
	letter-spacing: 0.08em;
}

.ie .stl_27 {
	letter-spacing: 0.96px;
}
.stl_28 {
	letter-spacing: 0.003em;
}

.ie .stl_28 {
	letter-spacing: 0.036px;
}
.stl_29 {
	letter-spacing: -0.0034em;
}

.ie .stl_29 {
	letter-spacing: -0.045px;
}
.stl_30 {
	letter-spacing: 0.028em;
}

.ie .stl_30 {
	letter-spacing: 0.336px;
}
.stl_31 {
	letter-spacing: -0.0046em;
}

.ie .stl_31 {
	letter-spacing: -0.0557px;
}
.stl_32 {
	letter-spacing: -0.022em;
}

.ie .stl_32 {
	letter-spacing: -0.264px;
}
.stl_33 {
	letter-spacing: -0.0036em;
}

.ie .stl_33 {
	letter-spacing: -0.0428px;
}
.stl_34 {
	letter-spacing: 0.001em;
}

.ie .stl_34 {
	letter-spacing: 0.012px;
}
.stl_35 {
	letter-spacing: 0.051em;
}

.ie .stl_35 {
	letter-spacing: 0.612px;
}
.stl_36 {
	letter-spacing: 0.0527em;
}

.ie .stl_36 {
	letter-spacing: 0.6328px;
}
.stl_37 {
	letter-spacing: -0.0204em;
}

.ie .stl_37 {
	letter-spacing: -0.2453px;
}
.stl_38 {
	letter-spacing: -0.02em;
}

.ie .stl_38 {
	letter-spacing: -0.24px;
}
.stl_39 {
	letter-spacing: 0.002em;
}

.ie .stl_39 {
	letter-spacing: 0.024px;
}
.stl_40 {
	letter-spacing: -0.011em;
}

.ie .stl_40 {
	letter-spacing: -0.132px;
}
.stl_41 {
	letter-spacing: 0.063em;
}

.ie .stl_41 {
	letter-spacing: 0.756px;
}
.stl_42 {
	letter-spacing: -0.0017em;
}

.ie .stl_42 {
	letter-spacing: -0.0413px;
}
.stl_43 {
	font-size: 1.416667em;
	font-family: "CDMCNJ+FZZQJW--GB1-0";
	color: #221E1F;
}
@font-face {
	font-family:"JLGHII+LindeDaxPowerPoint";
	src:url("34656bc4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 1.416667em;
	font-family: "JLGHII+LindeDaxPowerPoint";
	color: #221E1F;
}
.stl_45 {
	letter-spacing: -0.003em;
}

.ie .stl_45 {
	letter-spacing: -0.068px;
}
.stl_46 {
	letter-spacing: -0.0001em;
}

.ie .stl_46 {
	letter-spacing: -0.0007px;
}
.stl_47 {
	letter-spacing: 0.008em;
}

.ie .stl_47 {
	letter-spacing: 0.096px;
}
.stl_48 {
	letter-spacing: -0.009em;
}

.ie .stl_48 {
	letter-spacing: -0.108px;
}
.stl_49 {
	letter-spacing: -0.031em;
}

.ie .stl_49 {
	letter-spacing: -0.372px;
}
.stl_50 {
	letter-spacing: -0.01em;
}

.ie .stl_50 {
	letter-spacing: -0.12px;
}
.stl_51 {
	letter-spacing: 0.021em;
}

.ie .stl_51 {
	letter-spacing: 0.252px;
}
.stl_52 {
	letter-spacing: 0.0301em;
}

.ie .stl_52 {
	letter-spacing: 0.3616px;
}
.stl_53 {
	letter-spacing: 0.049em;
}

.ie .stl_53 {
	letter-spacing: 0.588px;
}
.stl_54 {
	letter-spacing: 0.036em;
}

.ie .stl_54 {
	letter-spacing: 0.432px;
}
.stl_55 {
	letter-spacing: 0.042em;
}

.ie .stl_55 {
	letter-spacing: 0.504px;
}
.stl_56 {
	letter-spacing: 0.03em;
}

.ie .stl_56 {
	letter-spacing: 0.36px;
}
.stl_57 {
	letter-spacing: -0.0064em;
}

.ie .stl_57 {
	letter-spacing: -0.0766px;
}
.stl_58 {
	font-size: 0.666667em;
	font-family: "ENPROS+FZXQJW--GB1-0";
	color: #221E1F;
}
.stl_59 {
	font-size: 0.666667em;
	font-family: "TJQTRV+LindeDaxOffice";
	color: #221E1F;
}
.stl_60 {
	letter-spacing: 0.0473em;
}

.ie .stl_60 {
	letter-spacing: 0.5047px;
}
.stl_61 {
	letter-spacing: 0.0283em;
}

.ie .stl_61 {
	letter-spacing: 0.3021px;
}
.stl_62 {
	letter-spacing: 0.006em;
}

.ie .stl_62 {
	letter-spacing: 0.064px;
}
.stl_63 {
	letter-spacing: 0.0004em;
}

.ie .stl_63 {
	letter-spacing: 0.0041px;
}
.stl_64 {
	letter-spacing: -0.001em;
}

.ie .stl_64 {
	letter-spacing: -0.024px;
}
.stl_65 {
	letter-spacing: 0.0561em;
}

.ie .stl_65 {
	letter-spacing: 0.5988px;
}
.stl_66 {
	letter-spacing: -0.0022em;
}

.ie .stl_66 {
	letter-spacing: -0.0239px;
}
.stl_67 {
	letter-spacing: 0.043em;
}

.ie .stl_67 {
	letter-spacing: 0.4587px;
}
.stl_68 {
	letter-spacing: 0.0151em;
}

.ie .stl_68 {
	letter-spacing: 0.1615px;
}
.stl_69 {
	letter-spacing: -0.0016em;
}

.ie .stl_69 {
	letter-spacing: -0.0168px;
}
.stl_70 {
	letter-spacing: 0.019em;
}

.ie .stl_70 {
	letter-spacing: 0.2027px;
}
.stl_71 {
	letter-spacing: -0.0018em;
}

.ie .stl_71 {
	letter-spacing: -0.0188px;
}
.stl_72 {
	letter-spacing: 0.0155em;
}

.ie .stl_72 {
	letter-spacing: 0.1651px;
}
.stl_73 {
	letter-spacing: 0.004em;
}

.ie .stl_73 {
	letter-spacing: 0.0423px;
}
.stl_74 {
	letter-spacing: 0.007em;
}

.ie .stl_74 {
	letter-spacing: 0.0747px;
}
.stl_75 {
	font-size: 0.833333em;
	font-family: "CDMCNJ+FZZQJW--GB1-0";
	color: #221E1F;
}
.stl_76 {
	letter-spacing: -0.0008em;
}

.ie .stl_76 {
	letter-spacing: -0.0112px;
}
.stl_77 {
	font-size: 0.833333em;
	font-family: "WPKAIC+LindeDaxOffice-Bold";
	color: #221E1F;
}
.stl_78 {
	letter-spacing: -0.0217em;
}

.ie .stl_78 {
	letter-spacing: -0.2312px;
}
.stl_79 {
	letter-spacing: -0.0219em;
}

.ie .stl_79 {
	letter-spacing: -0.2331px;
}
.stl_80 {
	letter-spacing: -0.0205em;
}

.ie .stl_80 {
	letter-spacing: -0.2182px;
}
.stl_81 {
	letter-spacing: -0.0175em;
}

.ie .stl_81 {
	letter-spacing: -0.1867px;
}
.stl_82 {
	letter-spacing: -0.0028em;
}

.ie .stl_82 {
	letter-spacing: -0.0672px;
}
.stl_83 {
	letter-spacing: -0.0031em;
}

.ie .stl_83 {
	letter-spacing: -0.075px;
}
.stl_84 {
	letter-spacing: -0.0019em;
}

.ie .stl_84 {
	letter-spacing: -0.0204px;
}
.stl_85 {
	letter-spacing: -0.0007em;
}

.ie .stl_85 {
	letter-spacing: -0.0076px;
}
.stl_86 {
	letter-spacing: -0.0043em;
}

.ie .stl_86 {
	letter-spacing: -0.0457px;
}
.stl_87 {
	font-size: 0.666667em;
	font-family: "CDMCNJ+FZZQJW--GB1-0";
	color: #BA0F25;
}
.stl_88 {
	letter-spacing: -0.0025em;
}

.ie .stl_88 {
	letter-spacing: -0.0267px;
}
.stl_89 {
	letter-spacing: -0.005em;
}

.ie .stl_89 {
	letter-spacing: -0.0533px;
}
.stl_90 {
	letter-spacing: -0.0045em;
}

.ie .stl_90 {
	letter-spacing: -0.0475px;
}
.stl_91 {
	letter-spacing: -0.002em;
}

.ie .stl_91 {
	letter-spacing: -0.0217px;
}
.stl_92 {
	letter-spacing: -0.0004em;
}

.ie .stl_92 {
	letter-spacing: -0.0043px;
}
.stl_93 {
	letter-spacing: -0.0065em;
}

.ie .stl_93 {
	letter-spacing: -0.0693px;
}
.stl_94 {
	letter-spacing: -0.0062em;
}

.ie .stl_94 {
	letter-spacing: -0.0665px;
}
.stl_95 {
	letter-spacing: -0.0012em;
}

.ie .stl_95 {
	letter-spacing: -0.0133px;
}
.stl_96 {
	font-size: 0.458333em;
	font-family: "TJQTRV+LindeDaxOffice";
	color: #221E1F;
}
.stl_97 {
	font-size: 0.833333em;
	font-family: "TJQTRV+LindeDaxOffice";
	color: #BA0F25;
}
.stl_98 {
	letter-spacing: -0.0054em;
}

.ie .stl_98 {
	letter-spacing: -0.0723px;
}
.stl_99 {
	font-size: 0.583333em;
	font-family: "TJQTRV+LindeDaxOffice";
	color: #BA0F25;
}
.stl_100 {
	letter-spacing: -0.0077em;
}

.ie .stl_100 {
	letter-spacing: -0.0723px;
}
.stl_101 {
	font-size: 0.833333em;
	font-family: "ENPROS+FZXQJW--GB1-0";
	color: #BA0F25;
}
.stl_102 {
	letter-spacing: -0.0005em;
}

.ie .stl_102 {
	letter-spacing: -0.0057px;
}
.stl_103 {
	letter-spacing: -0.0014em;
}

.ie .stl_103 {
	letter-spacing: -0.0145px;
}
.stl_104 {
	letter-spacing: -0.0058em;
}

.ie .stl_104 {
	letter-spacing: -0.0622px;
}
.stl_105 {
	letter-spacing: -0.0015em;
}

.ie .stl_105 {
	letter-spacing: -0.016px;
}
.stl_106 {
	letter-spacing: -0.0051em;
}

.ie .stl_106 {
	letter-spacing: -0.0547px;
}
.stl_107 {
	letter-spacing: -0.0027em;
}

.ie .stl_107 {
	letter-spacing: -0.0289px;
}
.stl_108 {
	letter-spacing: -0.0013em;
}

.ie .stl_108 {
	letter-spacing: -0.0139px;
}
.stl_109 {
	letter-spacing: -0.0049em;
}

.ie .stl_109 {
	letter-spacing: -0.0523px;
}
.stl_110 {
	letter-spacing: -0.0003em;
}

.ie .stl_110 {
	letter-spacing: -0.0034px;
}
